.idea/

/CoNekT/db/
/CoNekT/venv/
/CoNekT/virtualenv/
/CoNekT/whooshee/
/CoNekT/dist/
/CoNekT/build/
/CoNekT/migrations/

tmp
bin
lib
include
pip-selfcheck.json
scripts

/CoNekT/config.py

/ftp
/data/

*.swp

.coverage

__pycache__/