.idea/

/CoNekT/db/
/CoNekT/venv/
/CoNekT/virtualenv/
/CoNekT/whooshee/
/CoNekT/dist/
/CoNekT/build/
/CoNekT/migrations/

tmp
bin
lib
include
pip-selfcheck.json

/CoNekT/config.py

/ftp

*.swp
*.*cfg

.coverage

__pycache__/