{% extends 'base.html' %}

{% block title %}
    CoNekT Grasses - Disclaimer
{% endblock %}

{% block container %}
<div class="top-pad">
    <ol class="breadcrumb">
        <li><a href="{{ url_for('main.screen') }}">Home</a></li>
        <li class="active"><strong>Disclaimer</strong></li>
    </ol>
    <h1>Disclaimer</h1>

    <p><a href="{{ url_for('main.screen') }}">CoNekT Grasses</a> derives from <a href="https://conekt.sbs.ntu.edu.sg/">CoNekT</a>.
        All source code used as basis to develop CoNekT Grasses was obtained from the <a href="https://github.com/sepro/CoNekT">CoNekT GitHub repository</a>,
        which is available under the <a href="https://github.com/sepro/CoNekT/blob/master/LICENSE.md">MIT license</a>.</p>

    <p>All CoNekT Grasses source code, including new features, will be publicly available
        upon publication on the <a href="https://github.com/labbces/conekt_grasses">CoNekT Grasses GitHub</a>
        under the <a href="https://github.com/labbces">Laboratory of Computational, Evolutionary and Systems Biology (LabBCES) organization</a>.</p>

    <p>By using this site, you agree to the <a href="{{ url_for('main.privacy_policy') }}" class="text-muted">Privacy policy</a>.</p>
</p>
</div>

</div>
{% endblock %}
